@import "tailwindcss";


 @theme{
    --breakpoint-xm: 410px;
 }

/* Base layer setup */
@layer base {
  html, body {
    @apply min-h-screen m-0 p-0;
    background-color: transparent; /* let pages handle their own bg */
    color-scheme: light dark; /* support both themes naturally */
  }

  /* Optional: smooth transition between themes */
  body {
    @apply transition-colors duration-500;
  }
}